[Desktop Entry]
Name=Flameshot
GenericName=Screenshot tool
GenericName[pt_BR]=Ferramenta de captura de tela
Comment=Powerful yet simple to use screenshot software.
Comment[pt_BR]=Software de captura de tela poderoso, mas simples de usar.
Keywords=flameshot;screenshot;capture;shutter;
Keywords[pt_BR]=flameshot;screenshot;captura de tela;captura;shutter;
Exec=/usr/bin/flameshot
Icon=org.flameshot.Flameshot
Terminal=false
Type=Application
Categories=Graphics;
StartupNotify=false
StartupWMClass=flameshot
Actions=Configure;Capture;Launcher;
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.flameshot.Flameshot
X-KDE-DBUS-Restricted-Interfaces=org.kde.kwin.Screenshot,org.kde.KWin.ScreenShot2
X-XFCE-Source=file:///usr/share/applications/org.flameshot.Flameshot.desktop

[Desktop Action Configure]
Name=Configure
Name[pt_BR]=Configurar
Exec=flameshot config

[Desktop Action Capture]
Name=Take screenshot
Name[pt_BR]=Capturar tela
Exec=flameshot gui --delay 500

[Desktop Action Launcher]
Name=Open launcher
Name[pt_BR]=Abrir lançador
Exec=flameshot launcher
